################################
# VSCODE
################################
.vscode
################################
# MODULOS DE NODE
################################
node_modules
npm-debug.log
################################
# ENTORNOS
################################
.env
dist
################################
# LOGS
################################
*.log
################################
# IDES
################################
.idea